
.app {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .loginContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  .popup {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 0rem;
  }
  
  .container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 0rem;
  }
  
  .mapView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 0;
    position: absolute;
  }