.dgp-header-container{
    width: 100vw;
    height: 3rem;
    background-color:#38A7F5;
    color:white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.dgp-hrader-container .sysName {
    float: left;
    margin-left: 0.5rem;
}